# 파이썬은 변수에 담는 자료에 따라서 동적으로 자료형 정해짐

## 정수형 변수 : int, integer

In [2]:
x = 10

## 문자형 변수 : str

In [3]:
s = '야'

In [4]:
s2 = "박지호"

In [5]:
s

'야'

In [6]:
s2

'핀테크'

In [7]:
s3 = "핀테크 '서비스'"
s3

"핀테크 '서비스'"

In [8]:
s4 = '문자열 "문자"'
print(s4)

문자열 "문자"

## 문단을 통째로 넣는 법 : "' "', """ """

In [16]:
s5 = '''핀테크 서비스 
기획자 진행 과정 
구름exp'''
print(s5)

핀테크 서비스
기획자 진행 과정
구름exp

In [18]:
s6 = """핀테크 서비스 
'기획자 진행 과정'
구름exp"""
print(s6)
# 문장도 삽입 가능

핀테크 서비스
'기획자 진행 과정'
구름exp

# 변수의 데이터 타입을 출력하는 함수 : type()

In [22]:
print(s)
print(type(s))

야
<class 'str'>

# 리스트 : list, 튜플 : tuple
* 순서가 있는 자료형
* 여러 개의 자료 넣을 수 있음
* 여러 개의 데이터 타입의 자료를 넣을 수 있음
* 인덱스로 호출 가능
* 슬라이싱으로 부분 출력 가능
* 리스트 : [] 안에 자료 넣어서 만듦, 변경 가능
* 튜플 : () 안에 자료 넣어서 만듦, 변경 불가능

In [24]:
a = 10

In [25]:
a

10

In [26]:
a = 20

In [28]:
a
# 변수에는 자료가 한 개 밖에 안 들어가기 때문에 10을 대입하고 그 후 20을 대입해서 20 출력

20

In [31]:
L = [1, 3.14, "파이썬", [11,2,3,4], (5,6,7,8)]
L
# []로 묶어서 한 개로 표현 --> 여러개 가능/튜플도 똑같음 
# 오브젝트화 된 자료형이라고 부름

[1, 3.14, '파이썬', [11, 2, 3, 4], (5, 6, 7, 8)]

In [33]:
type(L)

list

In [32]:
M = (1, 3.14, "파이썬", [11,2,3,4], (5,6,7,8))
M

(1, 3.14, '파이썬', [11, 2, 3, 4], (5, 6, 7, 8))

In [34]:
type(M)

tuple

## 인덱싱 : 리스트, 튜플에서 인덱스 번호를 이용하여 자료 출력
* 인덱스는 자료의 순번

In [45]:
L[3][2]
# 리스트의 3번째(또 다른 list)의 2번째 값 출력

3

In [40]:
L[4][3]

8

In [43]:
L.index("파이썬")

2

## 슬라이싱 : 인덱스의 범위 지정해서 여러 개의 자료를 가져오는 것
* 변수명[시작인덱스:끝 인덱스+1:step]

In [44]:
L[0:2]
# 0번째, 1번째

[1, 3.14]

In [48]:
L[::-1]
# 뒤에서부터 전체 출력

[(5, 6, 7, 8), [11, 2, 3, 4], '파이썬', 3.14, 1]

In [50]:
L[0::]
# 처음부터 전체 출력

[1, 3.14, '파이썬', [11, 2, 3, 4], (5, 6, 7, 8)]

## 튜플
* 리스트처럼 순서가 있는 자료형
* 인덱스가 있어서 인덱스로 자료 출력 가능
* 인덱스로 슬라이싱 가능
* 자료의 추가 삭제가 안 됨(변경 X)

In [53]:
L.append(3)
L
# 맨 뒤에 3 추가

[1, 3.14, '파이썬', [11, 2, 3, 4], (5, 6, 7, 8), 3, 3]

In [67]:
del L[4]
L
# del 메소드로 5번째 값 삭제

[1, 3.14, '파이썬', [11, 2, 3, 4]]

In [54]:
T = (1,2,'튜플', [3,4,5],(5,6,7))
T

(1, 2, '튜플', [3, 4, 5], (5, 6, 7))

In [55]:
T[3]

[3, 4, 5]

In [56]:
T[4][2]

7

In [57]:
T[2:4]

('튜플', [3, 4, 5])

In [60]:
T.append((3)
# 리스트는 변경이 되지만 튜플은 안 됨

SyntaxError: incomplete input (558121008.py, line 2)

## 딕셔너리형 : dict
* [key:value] 형태의 자료형
* 순서가 없는 자료형
* 반복 불가
* key를 호출하면 value가 출력

In [71]:
D = {'년월' : '202407', '국가' : '미국', '방문자수' : 1000}
D

{'년월': '202407', '국가': '미국', '방문자수': 1000}

In [72]:
D2 = {2 : [3,4,5], 3.14: "원주율"}
D2

{2: [3, 4, 5], 3.14: '원주율'}

In [74]:
D['년월']
# '년월' key의 value 값 출력

'202407'

In [75]:
D2[2]

[3, 4, 5]

In [76]:
d3 = {(1,2) : "키 값이 튜플"}
d3

{(1, 2): '키 값이 튜플'}

In [77]:
d3[(1,2)]

'키 값이 튜플'