# 문자열 사용, 문자열 함수

## 1. 문자열 사용하기의 기본
* " 따옴표 안에 문자를 넣어서 문자열을 만든다, ' 도 가능

In [1]:
hello = 'hello, world'
hello

'hello, world'

In [2]:
hello2 = "hello, world"
hello

'hello, world'

In [4]:
hello3 = "hello 'world'"
hello3

"hello 'world'"

In [5]:
hello4 = '"hello" world'
hello4

'"hello" world'

* 여러 줄로 된 문자열 사용하기 : ''' 내용 ''', """ 내용 """

In [9]:
hello5 = '''
안녕하세요, 
파이썬 수업입니다.
'''
print(hello5)
hello5

안녕하세요,
파이썬 수업입니다.

'\n안녕하세요, \n파이썬 수업입니다.\n'

In [11]:
hello6 = """
안녕하세요, 
파이썬 수업입니다.
"""
print(hello6)
hello6

안녕하세요,
파이썬 수업입니다.

'\n안녕하세요, \n파이썬 수업입니다.\n'

* 문자열 중 이스케이프문자 : \n, \t, \r 
* \n : 줄바꿈
* \t : 탭, 4~8칸 공백
* \r : 현재 줄의 제일 왼쪽 끝으로 커서 이동

In [17]:
h1 = "파이썬에서 줄바꿈은 \\n으로 합니다.\n\n\n3줄 줄바꿈 끝"
print(h1)

파이썬에서 줄바꿈은 \n으로 합니다.


3줄 줄바꿈 끝

In [18]:
h2 = "탭으로 공간을 띄우는 것은 \\t \t로 합니다."
print(h2)

탭으로 공간을 띄우는 것은 \t 	로 합니다.

In [30]:
h3 = "캐리지 리턴은 \\r입니다. \n 커서가 같은 줄 가장 앞으로 \r 이동하기 때문에 글자가 겹쳐져서 지워졌습니다. "
print(h3)

캐리지 리턴은 \r입니다.
 이동하기 때문에 글자가 겹쳐져서 지워졌습니다.

# 인덱스와 문자열
* 문자 : 글자 1개
* 문자열 : 글자가 여러 개, 순서가 있는 자료, 번호, 인덱스

In [33]:
h4 = "문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h4)
print(h4[0:4])
print(h4[-1])
print(h4[-5:])

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.
문자열은
.
 입니다.

In [34]:
# 0번 ~ 4번
h4[:5]

'문자열은 '

In [35]:
# 7번 ~ 끝
h4[7:]

'부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [36]:
# 전체
h4[:]

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [43]:
# 1번째부터 2칸씩 띄워서 출력, 0번 ~ 10번까지
h4[1:11:2]

'자은왼부 '

In [42]:
# 전체 역순으로 출력
h4[::-1]

'.다니입 터부번0 은작시 며으있 수 길매 를호번 터부쪽왼 은열자문'

# 문자열 함수

1. 문자열 바꾸기 : replace(찾을 값, 바꿀 값)
* replace 함수는 사용 후, 결과를 재할당해야 함

In [56]:
a5 = "Jupyter, Notebook"
a5

'Jupyter, Notebook'

In [57]:
a5.replace('Notebook', 'Not Notebook')

'Jupyter, Not Notebook'

* str maketrans('찾을 문자', '바꿀 문자', '추가로 없앨 문자')로 변환테이블 생성
* translate로 문자를 찾아서 바꿈
* 사용 후, 결과 재할당해야 함

In [60]:
table = str.maketrans('abcdefg', '1234567')

In [61]:
a5.translate(table)

'Jupyt5r, Not52ook'

In [62]:
table = str.maketrans('abcdefg', '1234567', 'ko')

In [63]:
a5.translate(table)

'Jupyt5r, Nt52'

In [65]:
a5.translate(str.maketrans('abcdefg', '1234567', 'ko'))

'Jupyt5r, Nt52'

In [67]:
# 지울 것만 입력할 거면 앞에는 공백으로 두고 맨 뒤만 입력
a5.translate(str.maketrans('', '', 'kor'))

'Jupyte, Nteb'

In [68]:
h4

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [70]:
h4.translate(str.maketrans('', '', '0. '))

'문자열은왼쪽부터번호를매길수있으며시작은번부터입니다'

2. 문자열 분리하기 : split()
* 공백을 기준으로 문자열을 분리해 **리스트**로 만들어줌
* 괄호 안에 분리 기준을 지정해서 그 기준에 따라 분리 가능

In [73]:
h4.split()

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

In [78]:
h4_1 = h4.split()
print(h4_1)
print(type(h4_1))

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']
<class 'list'>

In [79]:
# shift + tab --> 설명 나타냄 
h4.split()

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

In [86]:
h6 = "'문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.''"
print(h6)
type(h6)

'문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.''

str

In [95]:
h6.split(", ")

["'문자열은'",
 "'왼쪽부터'",
 "'번호를'",
 "'매길'",
 "'수'",
 "'있으며'",
 "'시작은'",
 "'0번부터'",
 "'입니다.''"]

In [105]:
h7 = "사과, 배, 포도, 파인애플, 망고, 오렌지"
type(h7)
# 공백은 최대한 없애주는게 좋음
h7_1 = h7.split(", ")
h7_1

['사과', '배', '포도', '파인애플', '망고', '오렌지']

3. 리스트를 1개의 문자열로 합치기 : 합칠 기준.join(list)

In [115]:
# 콤마를 기준으로 h7_1 리스트를 합치기
# 재할당해야 함
h8 = " : ".join(h7_1)
h8

'사과 : 배 : 포도 : 파인애플 : 망고 : 오렌지'

In [117]:
h9 = ['iron man', 'spider-man', 'black widow', 'hulk']

In [119]:
# " vs "를 넣어서 리스트를 문자열로 만드시오.
h9_1 = " vs ".join(h9)
h9_1

'iron man vs spider-man vs black widow vs hulk'

4. 소문자 > 대문자, 대문자 > 소문자로 바꾸는 함수 : .upper(), .lower()
* 재할당해야 함

In [123]:
h10 = h9_1.upper()
h10

'IRON MAN VS SPIDER-MAN VS BLACK WIDOW VS HULK'

In [124]:
h10_1 = h10.lower()
h10_1

'iron man vs spider-man vs black widow vs hulk'

5. 왼쪽, 오른쪽, 양쪽 공백/특정 문자 삭제하기
* .lstrip(), .rstrip(), .strip()

In [138]:
b11 = "    공백이 있는 문자열    "
b11

'    공백이 있는 문자열    '

In [139]:
b11.lstrip()

'공백이 있는 문자열    '

In [140]:
b11.rstrip()

'    공백이 있는 문자열'

In [141]:
b11.strip()

'공백이 있는 문자열'

In [144]:
h12 = "  ... , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....  "
h12

'  ... , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....  '

In [159]:
# 공백 있어야 제거됨
h12.lstrip("., ")

'공백과 특수문자가 같이 있는 문자열 !! ^^ ....  '

In [155]:
h12.rstrip(" .^!")

'  ... , 공백과 특수문자가 같이 있는 문자열'

In [156]:
h12.strip(" .,!^")

'공백과 특수문자가 같이 있는 문자열'

In [163]:
h13 = "  ... , 공백과 특수   문자가\n ^^ 같이 있는 \t문자열 !! ^^ ....  "
print(h13)

  ... , 공백과 특수   문자가
 ^^ 같이 있는 	문자열 !! ^^ ....

6. 메소드 체이닝(method(함수)  chaining)으로 여러 함수 동시에 사용

In [210]:
h13.strip(" .,!^").replace("^", "").replace("\n", "").replace("\t", "").replace("   ", " ").replace("  ", " ")

'공백과 특수 문자가 같이 있는 문자열'

In [211]:
h13.translate(str.maketrans('','', '.,^!\n\t')).replace("   ", " ").replace("  ", " ").strip()

'공백과 특수 문자가 같이 있는 문자열'

* string.punctuation를 이용해 특수문자 제거하기

In [19]:
import string

In [20]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [172]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [186]:
h13.translate(str.maketrans('','',string.punctuation)).replace("\n", "").replace("\t", "").replace("  ", " ").replace("  ", " ").strip()

'공백과 특수 문자가 같이 있는 문자열'

# 문제1

In [6]:
test1 = '''344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'''

In [7]:
test1_1 = test1.split(",")
test1_1

['344',
 '622642',
 '더 호텔 수 (THE HOTEL SOO)',
 'family',
 '1박 가족 여행',
 '2018년 5월 21일',
 '8.0',
 '"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고',
 ' 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................']

In [8]:
hid = 344

In [9]:
hid1 = 622642

In [10]:
hotel_name_kor = "더 호텔 수"

In [11]:
hotel_name_eng = "THE HOTEL SOO"

In [12]:
trip_type = "family"

In [13]:
trip_type2 = "1박 가족 여행"

In [14]:
trip_date = "2018년 5월 21일"

In [15]:
rating = 8.0

In [16]:
review = '''위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다...............'''

In [17]:
review.split()

['위치',
 ':',
 '이순신',
 '광장과는',
 '반대편이라',
 '차량으로',
 '이동해야',
 '합니다.',
 '루프탑에서의',
 '바다',
 '경치는',
 '좋습니다.',
 '시설',
 ':',
 '깔끔하고',
 '좋습니다.',
 '패밀리룸을',
 '사용',
 '했는데',
 '저녁6시쯤',
 '갔더니',
 '마지막',
 '방이라며',
 '2층을',
 '배정',
 '받았습니다.',
 '창문을',
 '여니',
 '약간',
 '쓰레기',
 '냄새가',
 '났고',
 '바다가',
 '보이지',
 '않습니다.',
 '루프탑',
 ':',
 '바베큐',
 '세트가',
 '저렴',
 '했던거',
 '같고',
 '경치가',
 '좋습니다.',
 '수영장도',
 '있었는데',
 '계절이',
 '아닌지....',
 '하지만',
 '여름이면',
 '좋을것',
 '같습니다.',
 '주차장은',
 '장소가',
 '넓지',
 '않았던거',
 '같고,',
 '저녁에',
 '나갔다',
 '왔더니',
 '야외',
 '공터에',
 '차를',
 '대라고',
 '하였습니다.',
 '주말',
 '저녁이라',
 '그런지',
 '가격을',
 '제법',
 '비싸게',
 '준거',
 '같은데...',
 '2층이라',
 '마음에',
 '들지',
 '않았습니다.',
 '옆에',
 '조선소',
 '같은게',
 '있어',
 '쫌',
 '보기에',
 '좋지',
 '않았습니다...............']

In [21]:
review1 = review.translate(str.maketrans('','',string.punctuation)).replace(".", "").replace("  ", "").replace("\n", "").strip()

In [22]:
review1

'위치이순신 광장과는 반대편이라 차량으로 이동해야 합니다 루프탑에서의바다 경치는 좋습니다시설깔끔하고 좋습니다 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다루프탑바베큐 세트가 저렴 했던거 같고 경치가 좋습니다 수영장도 있었는데 계절이 아닌지 하지만 여름이면 좋을것 같습니다 주차장은 장소가 넓지 않았던거 같고 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데 2층이라 마음에 들지 않았습니다 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다'

In [23]:
test1_1 = [hid, hid1, hotel_name_kor, hotel_name_eng, trip_type, trip_type2, trip_date, rating, review1]

In [24]:
test1_1

[344,
 622642,
 '더 호텔 수',
 'THE HOTEL SOO',
 'family',
 '1박 가족 여행',
 '2018년 5월 21일',
 8.0,
 '위치이순신 광장과는 반대편이라 차량으로 이동해야 합니다 루프탑에서의바다 경치는 좋습니다시설깔끔하고 좋습니다 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다루프탑바베큐 세트가 저렴 했던거 같고 경치가 좋습니다 수영장도 있었는데 계절이 아닌지 하지만 여름이면 좋을것 같습니다 주차장은 장소가 넓지 않았던거 같고 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데 2층이라 마음에 들지 않았습니다 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다']

In [25]:
test1_1 = [str(item) for item in test1_1]

In [26]:
test1_2 = ",".join(test1_1)

In [28]:
type(test1_2)

str

In [30]:
test1_3 = test1_2.translate(str.maketrans('','',string.punctuation))

In [31]:
test1_3

'344622642더 호텔 수THE HOTEL SOOfamily1박 가족 여행2018년 5월 21일80위치이순신 광장과는 반대편이라 차량으로 이동해야 합니다 루프탑에서의바다 경치는 좋습니다시설깔끔하고 좋습니다 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다루프탑바베큐 세트가 저렴 했던거 같고 경치가 좋습니다 수영장도 있었는데 계절이 아닌지 하지만 여름이면 좋을것 같습니다 주차장은 장소가 넓지 않았던거 같고 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데 2층이라 마음에 들지 않았습니다 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다'

## ==============================================

# 문제2

In [40]:
test2= "18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!"

In [41]:
test2 = test2.split(",")

In [42]:
test2

['18062',
 '427535',
 '파크 하얏트 부산 (Park Hyatt Busan)',
 'family',
 '2박 가족 여행',
 '2019년 12월 29일',
 '10.0',
 '결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸',
 ' 바까지 모두 이용했는데 서비스 좋았습니다~~!']

In [43]:
test2[:2]

['18062', '427535']

In [283]:
review2.translate(str.maketrans('','',string.punctuation)).replace(".", "").replace("  ", "").strip()

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요 룸컨디션 너무 좋았고 뷰가 최고였습니다 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다 이점 좀 아쉬워요그 외에는 다이닝룸 리빙룸\n바까지 모두 이용했는데 서비스 좋았습니다'

## ==============================================

# 문제3

In [32]:
test3 = """112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.
아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.
실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 
라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.
매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.
다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. 
매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요
조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다."""