# 딕셔너리 dict 사용하기
* 딕셔너리형(dictionary) 변수 = JSON형
* 웹상에서 가장 많이 사용되는 자료형
* 딕셔너리를 잘 이해하면 pandas도 쉽게 이해 가능
* key : value로 이루어져 있음
* key를 호출하면 value가 나온다.

## 딕셔너리 만들기 : {key : value, key : value . . .}

In [1]:
d = {'년월' : '20240710', '국가' : '미국', '방문자수' : 1000}
d

{'년월': '20240710', '국가': '미국', '방문자수': 1000}

In [4]:
d['년월']

'20240710'

## 딕셔너리 key의 자료형
* 문자열, 정수, 실수, 불린(True, False), tuple
* list, dict는 키가 될 수 X

In [8]:
e = {'백':100, 100:'백', 3.5:[3.6, 3.7], False:0, (0,'서울'):"종로구"}
e

{'백': 100, 100: '백', 3.5: [3.6, 3.7], False: 0, (0, '서울'): '종로구'}

In [9]:
e['백']

100

In [10]:
e[100]

'백'

In [11]:
e[3.5]

[3.6, 3.7]

In [12]:
e[False]

0

In [16]:
e[(0,"서울")]

'종로구'

## 딕셔너리 value의 자료형
* value : 모든 자료형 O

In [18]:
f = {'정수':100, '실수':13.5, '문자열':'딕셔너리의 값', '리스트':[1,2,3,4], '튜플':(1,2,3,4), '딕셔너리':{'key':'value'}, '불린':True}
f

{'정수': 100,
 '실수': 13.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [21]:
f['리스트'][2]

3

In [23]:
f['딕셔너리']['key']

'value'

## 빈 딕셔너리 만들기
* {}
* dict()

In [25]:
g = {}
g

{}

In [27]:
h = dict()
h

{}

## 딕셔너리에 자료 추가하기
* 변수['key'] = value

In [39]:
g['번호'] = 0
g

{'번호': 0, '이름': '홍길동'}

In [40]:
g['이름'] = '홍길동'
g

{'번호': 0, '이름': '홍길동'}

## 딕셔너리의 value 수정하기
* g['key'] = 새 value

In [41]:
g['번호'] = 2
g

{'번호': 2, '이름': '홍길동'}

In [43]:
g['이름'] = '김삼순'
g

{'번호': 2, '이름': '김삼순'}

## dict()로 딕셔너리 만들기(1, 3번 주로 사용)

### 1) dict(key1 = value1, key2 = 'value2' . . . .)
* **key에 '', ""를 사용하지 X**
* key는 모두 문자로 변환
* value가 문자형 자료라면 반드시 "", ''가 필요

In [46]:
d = dict(정수=100, 실수=13.5, 문자='문자열', 리스트=[1,2,3], 튜플=(4,5,6), 딕셔너리={'key':'value'})
d

{'정수': 100,
 '실수': 13.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'}}

### 2) dict([(key1, value1), (key2, value2) . . .]) 형식으로  만들기
* 리스트 안에 튜플 나열하여

In [49]:
d2 = dict(['key1', 100), ('실수',3.14), ('리스트',[1,2,3])])
d2

{'key1': 100, '실수': 3.14, '리스트': [1, 2, 3]}

### 3) dict(zip([key1, key2], [value1, value2] . . .)) 형식으로 만들기
* key 묶음 리스트와 value 묶음 리스트를 zip함수로 합친 후, dict로 만듦
* key 묶음과 value 묶음은 요소의 개수가 같아야 함

In [52]:
d3 = dict(zip(['문자열', '리스트', '튜플', '딕셔너리', '불린'], ['딕셔너리의 값', [1,2,3,4], (5,6,7,8), {'key':'value'}, True]))
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

### 딕셔너리에서 값 삭제하기 
* del 변수명['key'] : key와 value 동시 삭제

In [53]:
d3['믄자열'] = '오타가 난 키 값'
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 '믄자열': '오타가 난 키 값'}

In [54]:
del d3['믄자열']
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [55]:
del d3['리스트'][1]
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [56]:
d3['리스트']

[1, 3, 4]

In [59]:
# 맨 뒤 값 출력하고 삭제
d3['리스트'].pop()

3

In [58]:
d3['리스트']

[1, 3]

In [60]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [61]:
d3['리스트'].insert(1, 2)
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [62]:
d3['리스트'].insert(2, 3)
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

### 딕셔너리 안에 특정 key가 있는지 확인하기
* in, not in 연산자 사용

In [63]:
'리스트' in d3

True

In [64]:
'투플' not in d3

True

### len() : 딕셔너리 key의 개수 구하기
* 안쪽에 있는 건 박스 열어야 가능

In [65]:
len(d3)

5

## 딕셔너리 함수 사용하기

### 1) setdefault(key, value)
* 딕셔너리에 key와 value를 추가
* key만 지정하면 value는 'None'으로 입력됨

In [66]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True}

In [67]:
d3.setdefault('d')
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None}

In [68]:
d3.setdefault('e',123)
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 123}

* 딕셔너리는 key 중복 X
* 만약 key가 중복되면 나중에 할당한 값으로 변환

In [69]:
d4 = {'문자열': '딕셔너리의 값', '리스트': [1, 2, 3], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '불린': True, 'd': None, 'e': 123, '리스트':'리스트지'}
d4

{'문자열': '딕셔너리의 값',
 '리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 123}

In [72]:
# 이런 식으로 직접 할당하는 것은 좋은 방법은 X --> 그럴 때 setdefault 함수 사용
d4['리스트'] = '새로운 값'

In [71]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 123}

* setdefault는 기존에 key가 있는 경우 value 업데이트 X

In [74]:
# e에 이미 값 존재하므로 업데이트 X
d4.setdefault('e','eeee')
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 123}

### 2) update(key=value)
* **key는 문자형 key라도 '', "" 사용 X** --> dict 1번 함수와 비슷
* **key를 문자형이 아니라 정수, 실수, 튜플로 넣을 경우에는 {key:value} 형식으로 넣는다.**

In [75]:
d4.update(e='eee')
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 'eee'}

In [76]:
d4.update({13:'십 삼'})
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 'eee',
 13: '십 삼'}

In [77]:
d4.update({(0,'도시'):'서울시'})
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': None,
 'e': 'eee',
 13: '십 삼',
 (0, '도시'): '서울시'}

In [82]:
# 다중 리스트
d4.update([['a','십'], ['b', '이십'], ['c', '삼십']])
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': '사십',
 'e': '오십',
 13: '십 삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십',
 'f': '육십'}

In [83]:
# 다중 튜플
d4.update((('d','사십'), ('e', '오십'), ('f', '육십')))
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': '사십',
 'e': '오십',
 13: '십 삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십',
 'f': '육십'}

* pop('key')로 삭제하기

In [86]:
d4.pop('c')
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': '사십',
 'e': '오십',
 13: '십 삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십'}

In [94]:
# 키 c값을 삭제하되, 없으면 뒤에 있는 값을 출력하는 것 --> 에러가 안 남
d4.pop('c', 1)

1

### 딕셔너리에서 value 가져오는 함수 : .get() --> 오류 방지 위해서 사용
* .get(key, key가 없을 때 기본 값)

In [88]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'd': '사십',
 'e': '오십',
 13: '십 삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십'}

In [91]:
# f 키 값이 없어서 오류
d4['f']

KeyError: 'f'

In [95]:
# pop 함수와 비슷
d4.get('f', "없음")

'없음'

In [97]:
a = d4.get('f', '없음')
print('a:', a)

a: 없음

### 딕셔너리에서 key와 value, key, value를 가져오는 함수
* items() : dict_items([(key, value), (key, value), (key, value)]) --> 튜플로 모아 자료형으로 반환
* keys() : dict_keys([key1, key2, key3. . . ]) --> 리스트로 모아 자료형으로 반환
* values() : dict_values([value1, value2, value3. . . ]) --> 리스트로 모아 자료형으로 반환

In [105]:
d4_items = d4.items()

In [112]:
# dict_items 자료형 -->  이게 하나의 type, dict_items로 새로운 객체 생성
# .items() 메소드를 사용하면 dict_items 객체가 반환
print(type(d4_items))

<class 'dict_items'>

In [109]:
d4_items_list = list(d4_items)
d4_items_list
print(type(d4_items_list))

<class 'list'>

In [111]:
d4_items_list[0:]

[('문자열', '딕셔너리의 값'),
 ('리스트', '새로운 값'),
 ('튜플', (5, 6, 7, 8)),
 ('딕셔너리', {'key': 'value'}),
 ('불린', True),
 ('d', '사십'),
 ('e', '오십'),
 (13, '십 삼'),
 ((0, '도시'), '서울시'),
 ('a', '십'),
 ('b', '이십')]

In [114]:
# 딕셔너리를 반복문에서 그냥 쓰면 키 값만 나옴 --> 번거로움
for i in d4:
    print(i)

문자열
리스트
튜플
딕셔너리
불린
d
e
13
(0, '도시')
a
b

In [115]:
# 값만 출력 가능 --> 번거로움
for i in d4:
    print(d4[i])

딕셔너리의 값
새로운 값
(5, 6, 7, 8)
{'key': 'value'}
True
사십
오십
십 삼
서울시
십
이십

In [117]:
# .items() 함수를 통해 key, value 값 출력 가능 --> 
for key, value in d4.items():
    print(key, value)

문자열 딕셔너리의 값
리스트 새로운 값
튜플 (5, 6, 7, 8)
딕셔너리 {'key': 'value'}
불린 True
d 사십
e 오십
13 십 삼
(0, '도시') 서울시
a 십
b 이십

In [107]:
for i in d4_items:
    print(i)

('문자열', '딕셔너리의 값')
('리스트', '새로운 값')
('튜플', (5, 6, 7, 8))
('딕셔너리', {'key': 'value'})
('불린', True)
('d', '사십')
('e', '오십')
(13, '십 삼')
((0, '도시'), '서울시')
('a', '십')
('b', '이십')

In [118]:
d4.keys()

dict_keys(['문자열', '리스트', '튜플', '딕셔너리', '불린', 'd', 'e', 13, (0, '도시'), 'a', 'b'])

In [119]:
print(type(d4.keys()))

<class 'dict_keys'>

In [123]:
d4_keys = list(d4.keys())
d4_keys

['문자열', '리스트', '튜플', '딕셔너리', '불린', 'd', 'e', 13, (0, '도시'), 'a', 'b']

In [124]:
d4_keys[0]

'문자열'

In [125]:
d4.values()

dict_values(['딕셔너리의 값', '새로운 값', (5, 6, 7, 8), {'key': 'value'}, True, '사십', '오십', '십 삼', '서울시', '십', '이십'])

In [126]:
print(type(d4.values()))

<class 'dict_values'>

In [127]:
d4_tuple = tuple(d4.values())
d4_tuple

('딕셔너리의 값',
 '새로운 값',
 (5, 6, 7, 8),
 {'key': 'value'},
 True,
 '사십',
 '오십',
 '십 삼',
 '서울시',
 '십',
 '이십')

In [129]:
d4_tuple[0:]

('딕셔너리의 값',
 '새로운 값',
 (5, 6, 7, 8),
 {'key': 'value'},
 True,
 '사십',
 '오십',
 '십 삼',
 '서울시',
 '십',
 '이십')

In [131]:
for j in d4_tuple:
    print(j)

딕셔너리의 값
새로운 값
(5, 6, 7, 8)
{'key': 'value'}
True
사십
오십
십 삼
서울시
십
이십

In [133]:
for value in d4.values():
    print(value)

딕셔너리의 값
새로운 값
(5, 6, 7, 8)
{'key': 'value'}
True
사십
오십
십 삼
서울시
십
이십