# 함수 만들기

* print(), split(), input()  => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용** 할 수 있게 만드는 것

In [1]:
L = [1,2,3,4,5]
result = []
for i in L:
    result.append(i*10)
result

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름():<br>
____실행코드<br>
____return 리턴 값<br>

In [ ]:
def hello():
    print("hello 파이썬 함수 만들기")

In [ ]:
hello()

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [3]:
def hello2():
    print("hello2 파이썬 함수 만들기")
    
hello2()

hello2 파이썬 함수 만들기

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello")  => hello

매개변수 1개짜리 함수

In [2]:
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다.")
    return c * c * 3.14

In [3]:
result = circle(3)
print("result:", result)

원의 넓이는:  28.26 입니다.
result: 28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [4]:
def add(a, b):
    return a + b

In [8]:
result = add(10, 3)
print("result:", result)

result: 13

In [9]:
add(999, 1345676767166)

1345676768165

In [10]:
add(51, 80)

131

매개 변수 3개짜리 함수 - a: 시작, b: 끝, c: 증감<br>
num_maker라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요.<br>
num_maker(1, 10, 2)<br>
1, 3, 5, 7, 9

In [11]:
def num_maker(a, b, c):
    result = [i for i in range(a,b,c)]
    return result

In [12]:
result = num_maker(1, 10, 2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
<class 'list'>

In [14]:
# 값을 2개만 넣어서
num_maker(2, 500)

TypeError: num_maker() missing 1 required positional argument: 'c'

리턴값이 여러 개인 함수

In [16]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add, sub

In [17]:
result = add_sub(7, 3)
print(result)
print(type(result))

(10, 4)
<class 'tuple'>

In [38]:
a = 1
b = 3

In [39]:
t = a, b
t

(1, 3)

In [41]:
for i in enumerate(range(1,11)):
    print(type(i),i )

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2 - 정방향, 역방향 리스트 출력

In [42]:
def num_maker2(a, b, c):
    asc = [i for i in range(a, b, c)]
    desc = [i for i in range(a, b, c)][::-1]
    return asc, desc

In [43]:
num_maker2(1, 10, 2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7 이상이 되면 종료하기

In [18]:
age = range(1,11)

In [19]:
def even(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            break

In [20]:
even(age)

2 4 6

In [21]:
def even2(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            return

In [22]:
even2(age)

2 4 6

1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd 함수를 만드세요.

In [38]:
def odd(a):
    print("a: ", a)
    print(type(a))
    for i in a:
        if i % 2 ==1:
            print(i, end=" ")
        elif i >= 51:
            return

In [39]:
odd(range(1, 101))

a:  range(1, 101)
<class 'range'>
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [40]:
h = list(range(1, 101))
odd(h) # =>  a = h

a:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
<class 'list'>
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [58]:
def print_nums(a, b, c):
    print(a, b, c)

In [59]:
print_nums(10, 20, 30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 *로 언패킹 가능

In [68]:
p = [10, 20, 30]

In [61]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [62]:
print_nums(p[0], p[1], p[2])

10 20 30

In [65]:
print(*p)

10 20 30

In [69]:
print_nums(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력 받음 
* *args  => *변수명
* 기본 형식 : 튜플

In [70]:
print("a", "b", "c", "d")

a b c d

여러 개의 숫자를 입력받아 더하는 함수(입력 개수가 정해져 있지 X)

In [26]:
def sum2(*args):
    print(args)
    print(type(args))
    hap = 0
    for i in args:
        hap += i
    return hap

In [27]:
sum2(1,1,4,6,7,8,9,2,5,6,2,2,6,4,2,6,2,2)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [28]:
sum((1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2))

75

In [48]:
def sum3(*nums):
    print(nums)
    print(type(nums))
    print(nums[0])
    return sum(nums)

In [49]:
sum3(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>
1

75

In [33]:
print(*[1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2])

1 1 4 6 7 8 9 2 5 6 2 2 6 4 2 6 2 2

In [34]:
L1 = [1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2]

In [37]:
# 가변인수로 선언했기 때문에 리스트 형태지만 튜플로 한 번 더 감싸져서 나옴 
sum3(L1)

([1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [93]:
sum3(*L1)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [94]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [95]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [97]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [98]:
list_tuple_func([1,2,3], [4,5,6], [7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [99]:
list_tuple_func(dict(a=1, b=2, c=3))

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

고정인수와 가변인수 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다.<br>
def sum(a, *args):  O <br>
def sum(*args, a):  X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수<br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [107]:
def muls(a, *args):
    result = []
    for num in args:
        print(a * num, end=" ")
        result.append(a * num)
    return result

In [103]:
L2 =[1,2,3,4,5]

In [104]:
muls(3, *L2)

3 6 9 12 15

[3, 6, 9, 12, 15]

In [102]:
muls(3,1,2,3,4,5)

3 6 9 12 15

[3, 6, 9, 12, 15]

가변인수가 앞에 왔기 때문에 에러

In [108]:
def muls2(*args, a):
    result = []
    for num in args:
        print(a * num, end=" ")
        result.append(a * num)
    return result

In [109]:
muls2(*L2, 3)

TypeError: muls2() missing 1 required keyword-only argument: 'a'

## 키워드 함수

### 개인 정보를 출력하는 함수

In [50]:
def personal_info(name, age, address):
    print("이름: ", name)
    print('나이: ', age)
    print('주소: ', address)

In [51]:
personal_info('홍길동', 30, '서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument) 사용
* 예) print("python", sep="", end="\n") sep, end --> 키워드 인수

In [52]:
dict(key='value')

{'key': 'value'}

perosnal_info 함수를 키워드 인수 방식으로 호출

In [53]:
personal_info(name='홍길동', age=30, address='서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

## 키워드 인수 방식으로 함수를 호출하면 인수 순서나 위치가 바뀌어도 동작

* 키워드 인수를 사용하는 가변인수 함수 만들기
* dict로 반환
def 함수이름(**kwargs): keworkd arguments <br>
__코드<br>
__return

In [66]:
def personal_info2(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [67]:
personal_info2(name='홍길동', age=30, address='서울시 강남구', school="강남 고등학교")

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
<class 'dict'>

In [64]:
d = dict(name='홍길동', age=30, address='서울시 강남구', school="강남 고등학교")
d

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}

In [68]:
# 박스 안 뜯어서 안 됨
personal_info2(d)

TypeError: personal_info2() takes 0 positional arguments but 1 was given

In [69]:
personal_info2(**d)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
<class 'dict'>

In [73]:
def personal_info3(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(key, value)

In [74]:
personal_info3(**d)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
<class 'dict'>
name 홍길동
age 30
address 서울시 강남구
school 강남 고등학교

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, \**키워드 가변인수 순으로 작성

In [78]:
def personal_info4(name, **kwargs):
    print(name)
    print(kwargs)
    print(type(kwargs))

In [81]:
personal_info4('둘리')

둘리
{}
<class 'dict'>

In [86]:
d2 = dict(name='둘리', age=30, address='서울시 서초구')
d2

{'name': '둘리', 'age': 30, 'address': '서울시 서초구'}

In [87]:
personal_info4(**d2)

둘리
{'age': 30, 'address': '서울시 서초구'}
<class 'dict'>

가변인수와 가변키워드인수 함께쓰기
* def 함수명(*argf, **kwargs):
* def 함수명(고정인수, *argf, **kwargs):

In [90]:
def custom_print(*args, **kwargs):
    print(args, kwargs)
    print(*args, **kwargs)
custom_print(1,2,3, sep=" !! ", end="")

(1, 2, 3) {'sep': ' !! ', 'end': ''}
1 !! 2 !! 3

매개변수 = 함수 내에서 사용되는 변수
* 위치인수 : 위치가 고정된 매개변수, 위치인수는 키워드 인수로 사용가능(변수명 = 값)
* 가변 인수: 여러 개의 자료를 동시에 받을 수 있는 매개변수 → tuple로 들어옴
* 키워드 가변 인수 : 여러 개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 매개변수 → dict

매개변수에 초기값 지정하기
* 초기값이 지정된 매개변수는

In [95]:
def personal_info5(name, age, address="비공개"):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [96]:
personal_info5('또치', 30, '도곡동')

이름:  또치
나이:  30
주소:  도곡동

In [97]:
personal_info5('또치', 30)

이름:  또치
나이:  30
주소:  비공개

매개변수의 종류에 따른 순서
* 위치인수, 위치인수=기본값, *args, **kwargs

In [112]:
def personal_info6(*args, address="비공개", **kwargs):
    print('args: ', args)
    print('kwargs', kwargs)
    print('주소: ', address)

In [113]:
personal_info6(1,2,3,4, name='DDOCHI', age=30)

args:  (1, 2, 3, 4)
kwargs {'name': 'DDOCHI', 'age': 30}
주소:  비공개

In [114]:
def personal_info6(address="비공개", *args, **kwargs):
    print('args: ', args)
    print('kwargs', kwargs)
    print('주소: ', address)

In [115]:
personal_info6(1,2,3,4, name='DDOCHI', age=30)

args:  (2, 3, 4)
kwargs {'name': 'DDOCHI', 'age': 30}
주소:  1

함수 Doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어놓는 것
def 함수이름(매개변수): <br>
___"""독스트링으로 설명 적기 <br>
___실행코드<br>
___return
* 독스트링은 함수 실행시에는 출력되지 않음
* print(함수이름.doc)
* help(함수이름)

In [117]:
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a+b

In [119]:
# 함수 괄호 안에서 Shift + Tab --> 독스트링 보임 
add(10,3)

13

In [122]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [125]:
# .__doc__ --> 파이썬에서 기본적으로 만들어진 함수
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [124]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [126]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 람다 표현식 (lambda expression)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명 함수(함수명 X)
* 사용 후 메모리에서 삭제

In [128]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [129]:
plus_ten(5)

15

람다 함수에 괄호를 씌우고 뒤에 인수를 넣어서 직접 호출

In [131]:
# def lambda():
(lambda x : x + 10)(5)

15

In [132]:
(lambda y : y * 13028)(234235)

3051613580

람다 함수를 변수에 넣고 변수에 인수를 넣어서 호출

In [133]:
plus_five = lambda x : x+5

In [135]:
plus_five(4)

9

map(함수, 리스트 자료)

In [139]:
a, b, c, d = map(int,["1", "2", "3", "4"])

In [141]:
print(a, b, c, d)
print(type(a), b, c, d)

1 2 3 4
<class 'int'> 2 3 4

In [143]:
# map 함수에 람다 집어넣어서 계산 쉽게 만들 수 있음
result = map(plus_five, [1,2,3,4,5])
print(list(result))

[6, 7, 8, 9, 10]

In [152]:
# 아래의 3개 코드는 동일 코드

In [153]:
# 한 번 사용하면 메모리에서 사라짐
list(map(lambda x : x + 10, [1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [149]:
x = [1,2,3,4,5]
def plus_10(x):
    hap = []
    for i in x:
        hap.append(i+10)
    print(hap)
    return hap
plus_10(x)

[11, 12, 13, 14, 15]

[11, 12, 13, 14, 15]

In [151]:
x = [1,2,3,4,5]
def plus_10(x):
    return [i+10 for i in x]
plus_10(x)

[11, 12, 13, 14, 15]

람다표현식에 조건부 표현식 사용하기

In [186]:
# 3의 배수만 문자열로 바꾸기
# 조건문 부분을 조건표현식으로 표현
# 리스트 표현식으로 변환

In [174]:
# 해결 코드1
a = list(range(1,11))
result = []
for i in a:
    if i%3==0:
        result.append(str(i))
    else:
        result.append(i)
print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [178]:
# 해결 코드2
a = list(range(1,11))
def tostr3(a):
    result = []
    for i in a:
        if i%3==0:
            result.append(str(i))
        else:
            result.append(i)
    return result

In [185]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [183]:
# 해결 코드3
a = list(range(1,11))
def tostr3(a):
    result = []
    for i in a:
        result.append(str(i)) if i%3==0 else  result.append(i)
    return result

In [184]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [194]:
# 해결 코드4
a = list(range(1,11))
def tostr3(a):
    return [str(i) if i%3==0 else i for i in a]

In [195]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [198]:
#해결 코드 5
list(map(lambda x: str(x) if x%3==0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [199]:
# 데이터 전처리에 자주 사용되는 형식
apply(lambda x: str(x) if x%3==0 else x)

NameError: name 'apply' is not defined

In [200]:
# 데이터 전처리에 자주 사용되는 형식2
apply(lambda x: int(x) if type(x) =='o' else x)

NameError: name 'apply' is not defined

In [202]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [208]:
list(map(lambda x, y, z: x*y*z, a, b, c))

[6, 48, 162, 384, 750]

In [215]:
result = []
for x, y, z in zip(a,b,c):
    result.append(x*y*z)
print(result)

[6, 48, 162, 384, 750]